/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, input, label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End of reset, start of my styling*/

.container {
    width: 100vw;
}

.header {
    text-align: center;
    background-color: rgb(127, 255, 123);
    padding: 15px;
}

.xlg-text {
    font-size: 2rem;
}

.form-container {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*.input-container {
    nothing for now
}*/

#read {
    display: inline-block;
    margin: 10px 10px 10px 0px;
}

.md-text {
    font-size: 1rem;
}

.txt {
    border: 2px solid black;
    border-radius: 2px;
    line-height: 2;
    font-size: 1rem;
}

.btn {
    border-radius: 0px;
    border: 2px solid black;
    margin: auto;
    width: 80px;
    height: 45px;
    font-weight: 250;
    font-size: 1rem;
}

.center-input-container {
    width: 50%;
    margin: auto;
}

.book-container {
    width: 80%;
    margin: auto;
}

.book {
    text-align: center;
    margin: 25px;
    border: 2px solid #ddd;
    padding: 10px;
    box-shadow: 3px 2px 2px rgb(160, 240, 167);
}

.book > * {
    margin: 5px;
}

.title-card {
    padding-bottom: 8px;
    font-weight: bold;
}